{% extends 'base.html' %}

{% block content %}

<!------------------- Login ------------------------->
<div id="login-container" class="container" style="width: 90vh; height: 100vh; margin: 0 auto; position: relative; padding: 100px;">

  <h2 id="login-heading">Login</h2>

  <form action="/login" method="POST" class="login-form">

    <!-- Flash Message -->
    {% for msg in get_flashed_messages() %}
      <div class="flash-msg alert alert-light" id="flash-overlay" role="alert">
        {{ msg }}
      </div>
    {% endfor %}    

    <!-- Email input -->
    <div class="form-floating-container form-floating mb-3">
      <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>

    <!-- Password Input -->
    <div class="form-floating-container form-floating">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <p><input type="submit" class="submit-button"></p>
    
  </form>

  <!-- Link to create account -->
  <a href="/create_account" class="create-account-link">Create Account</a>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  const flashOverlay = document.getElementById('flash-overlay');

  // Check if there are flash messages
  const hasFlashMessages = document.querySelector('.flash-msg') !== null;

  // Show the flash overlay only if there are flash messages
  if (flashOverlay && hasFlashMessages) {
    flashOverlay.style.display = 'block';

    // Automatically hide the flash overlay after 5 seconds (adjust as needed)
    setTimeout(function() {
      flashOverlay.style.display = 'none';
    }, 5000); // 5000 milliseconds = 5 seconds
  }
});
</script>

{% endblock %}
